name: Import Sorting

on:
  push:

jobs:
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version-file: .python-version

      - name: Install Dependencies
        run: make install

      - name: Test Formatting
        run: make isort_check
