name: PyTest

on:
  push:
  pull_request:

env:
  COLUMNS: 120

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}

      - name: Install Dependencies
        run: make install

      - name: Run Tests
        run: make pytest
