name: PyTest

on:
  push:
  pull_request:

env:
  COLUMNS: 120

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: {% raw %}${{ matrix.version }}{% endraw %}

      - name: Install Dependencies
        run: make install

      - name: Run Tests
        run: make pytest
