name: TOML Formatting

on:
  push:
  pull_request:

jobs:
  tomlsort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version

      - name: Install Dependencies
        run: make install

      - name: Test Typing
        run: make tomlsort_check
